.navbar {
    min-height: 125px;
}

.navbar-brand>img {
    height: 100px;
}

ul.nav.navbar-right {
    padding-top: 25px;
}

#services .container .row.text-center div.col-md-4 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}